[DEFAULT]
endpoint=http://geofabricld.net/geoserver/ows
layer=ahgf_shcatch:AHGFCatchment
layerid=ahgf_shcatch:hydroid
function=Contains
geom=shape
nsshort=ahgf_shcatch
nsurl=http://linked.data.gov.au/dataset/geof/v2/ahgf_shcatch
register_endpoint=http://linked.data.gov.au/dataset/gnaf/address/
register_model=LDAPIModel
#register_endpoint=dbname='<db_name>' user='<db_user>' host='<db_host>' password='<db_password>'
#register_model=DBModel
start=25
stop=28
batch_size=50
output_file=output.csv
threads=10
batch_id=1
